@import "../src/wardrobe.scss";

section#sample-newspaper {

  div.articles {
      @include row();
  }


  @for $idx from 1 through 6 {
    article#article-#{$idx} {
      @include col(
        $sm-proportion: 1/2,
        $md-proportion: 1/3,
        $lg-proportion: 1/6
      );
    }
  }

}
