@import "../src/shoe-closet.scss";

$colors: red, green, blue, yellow, silver, gold;

section#sample-newspaper {

  h1 {
      text-align: center;
  }

  div.articles {
      @include shelf();
  }

  div.article {
    border-radius: 2px;
  }

  @for $idx from 1 through 6 {
    div#story-#{$idx} {
      background-color: nth($colors, $idx);

      @include custom-pair($sm-proportion: 1/2, $md-proportion: 1/3, $lg-proportion: 1/6);
    }
  }

}
